a {
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    background: #f9a03f;
    color: #fff;
}

a:link {
    text-decoration:  none;
}
a:visited {
    color: #ccc;
}
a:active {
    text-decoration: underline;
}