* {
    padding: 0;
    margin: 0;
}
body {
    background: #f2f2f2;
}
.caja {
    width: 200px;
    height: 200px;
    background: #0e6ba8;
    margin: 20px;
    float: left;
}

.posicionada {
    background: #6695e8;
   
}